# Ignore Python cache
__pycache__/

# Ignore log files
*.log

# Ignore secrets
.env

# Ignore some local results
results/
results/deepmath_7to9/
results/hendrycks_math/
results/math-500/
share/

# Ignore market models config
config/market_models.yaml
config/control_study.yaml

notebooks/math
notebooks/deepmath

# Ignore all data dirs
data/

# But keep these
!sft/LLaMA-Factory/data/
!sft/LLaMA-Factory/src/llamafactory/data/
!sft/LLaMA-Factory/tests/data/

# Models
*.bin
*.pickle

# venv
.venv
